@mixin links {
  text-decoration: none;
  color: $color-black;
  cursor: pointer;
  font-size: 1.5em;
  padding: 10px;

  &:hover {
    background-color: $color-bg-black;
    color: $color-white !important;
  }
}
